<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des patients</title>
</head>
<body>
    <h1>Liste des patients</h1>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Family</th>
            <th>Given</th>
            <th>Dob</th>
            <th>Sex</th>
            <th>Address</th>
            <th>Phone</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="patient : ${patients}">
            <td th:text="${patient.id}"></td>
            <td th:text="${patient.family}"></td>
            <td th:text="${patient.given}"></td>
            <td th:text="${patient.dob}"></td>
            <td th:text="${patient.sex}"></td>
            <td th:text="${patient.address}"></td>
            <td th:text="${patient.phone}"></td>
            <td>
                <a th:href="@{/patient/{id}(id=${patient.id})}">Voir</a>
            </td>
            <td>
                <a th:href="@{/delete/{id}(id=${patient.id})}">Delete</a>
            </td>
            <td>
                <a th:href="@{/edit/{id}(id=${patient.id})}">Update</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/add}">Add a patient</a>
</body>
</html>