<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Détails du patient</title>
</head>
<body>
<h1>Détails du patient</h1>
<table>
    <tr>
        <th>Family</th>
        <td th:text="${patient.family}"></td>
    </tr>
    <tr>
        <th>Given</th>
        <td th:text="${patient.given}"></td>
    </tr>
    <tr>
        <th>Sexe</th>
        <td th:text="${patient.sex}"></td>
    </tr>
</table>
<a th:href="@{/patients/}">Retour à la liste des patients</a>
</body>
</html>